@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Kreon', serif;
  color: white;
  background-color: rgb(25, 25, 25);
}

.title {
  text-align: center;
  background-color: royalblue;
}

.sidebar {
  position: fixed;
  top: 50vh;
  transform: translate(0, -50%);
  margin-left: 5px;
  border: solid royalblue 3px;
}

.sidebar li a {
  text-decoration: none;
}

.sidebar li a:hover {
  color: gold;
}